@media (min-width:400px){
    .content-md img {
        max-width: 70%;
    }
}

@media (min-width: 476px){
    .services-block .col-sm-6,
    .cards-block .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}


@media (min-width:576px) {
    .main-block h1 {
        font-size: 48px;
        max-width: 640px;
    }

    .services-block h2 {
        font-size: 48px;
    }
    .content-md h3 {
        font-size: 30px;
    }
    .cards-block h2 {
        font-size: 30px;
    }

    .footer p {
        font-size: 11px;
        font-weight: 500;
        text-align: left;
    }
    .content-md img {
        max-width: 100%;
    }
}


@media (min-width: 1100px) {
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .services-block .col-lg-3,
    .cards-block .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

